<html>
<head>
    <title>Blog Django Girls</title>
</head>
<body>
    <div>
        <h1><a href="/">Blog Django Girls</a></h1>
    </div>

    <div>
        <p>publicado: 18.08.2019</p>
        <h2><a href="/">Meu primeiro post</a></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer turpis risus, consectetur molestie rhoncus sed, tristique in purus. Suspendisse ut quam tincidunt elit cursus posuere sit amet ac est. Suspendisse varius laoreet purus, nec varius sem tristique at. Nullam facilisis leo ac accumsan ornare. Duis elementum accumsan nisi ut vehicula. Etiam accumsan arcu id porta pulvinar. Sed suscipit nisl quis nibh elementum aliquet sed quis erat. Donec ornare arcu et ligula interdum tempor. Fusce sodales nec felis vel congue. Morbi eu pretium lacus, sit amet pharetra sapien. Morbi volutpat, felis quis finibus dictum, eros ante convallis ipsum, at aliquet mi augue a augue. Aliquam tortor orci, sollicitudin et nibh quis, lobortis rutrum mauris. </p>
    </div>

    <div>
        <p>publicado em 18.08.2019</p>
        <h2><a href="/">Meu segundo post</a></h2>
        <p>Nulla non egestas nulla. Mauris bibendum ipsum nisl, quis volutpat diam lobortis eget. In sodales augue a quam rutrum dapibus. Etiam ac efficitur augue. Suspendisse potenti. Ut scelerisque quam a feugiat elementum. Integer porta arcu sed felis sollicitudin, placerat auctor arcu auctor. In hac habitasse platea dictumst. Fusce finibus semper ex ut blandit. Suspendisse ut purus et magna placerat finibus et sit amet odio. Morbi vel eros nisi. Mauris nec velit vitae elit cursus placerat eu in ante. Cras aliquet nec nunc at ornare. Sed tempor ullamcorper leo id consectetur. Duis ut elementum libero. </p>
    </div>
</body>
</html>